* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: 12vh;
}

/* Barra de navegación */
#navegacion {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0);
}

.lista_nav {
    width: 100vw;
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#boton-nav {
    width: 100px;
    height: 10px;
    color: white;
    background-color: black;
    border-style: none;
}

ul {
    list-style: none;
    text-align: center;
    color: white;

}

li {
    margin: 1vw;
}

#prod,
#courses,
#resources,
#sign {
    color: white;
    background-color: black;
    border-color: black;
}

#try {
    border-style: ridge;
    border-width: 0.1vw;
}

/* Imagenes navegación */
.logo_gato {
    border-radius: 50%;
    background-color: white;
    box-shadow: 5px 5px 10px white, -5px 5px 10px white, 5px -5px 10px white, -5px -5px 10px white;
    width: 50px;
    height: 50px;
}

.lupa {
    width: 15px;
    height: 15px;
}

#nav2 {
    display: flex;
    justify-content: flex-end;
}

.menu{
    display: none;
}

/* contenido principal--------------------------------------- */
main {
    width: 100vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(56deg, rgb(195, 0, 255) 0%, rgb(87, 0, 128) 48%, rgb(195, 0, 255)100%);
}


.cuadro-fondo {
    background-image: url(gato.png);
    background-position: center;
    background-size: 70%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    background-position-x: 30%;
    background-position-y: 12vh;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transparente {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(65deg, rgba(78, 0, 63, 0.3) 0%, rgba(33, 0, 103, 0.247) 48%, rgba(81, 0, 64, 0.3) 100%);
    z-index: 2;
}

.texto-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 10vmax;
    font-size: 1.5vw;
    z-index: 2;
    margin-left: 20%;
}

.texto-principal h2,
p {
    color: white;
}

.texto-principal p{
    margin-top: 5%;
    margin-bottom: 5%;
}

.planes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

#plan1,
#plan2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: white;
    border-style: none;
    width: 100%;
    height: 200%;
    font-size: 100%;
}

#plan2 {
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-style: inset;
    border-color: white;
}

/* principal------------------------------------------------------------------- */
#contenido {
    height: 33vh;
    background: black;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.lenguaje {
    margin: 10px;
    background: rgb(84, 84, 84);
    width: 27%;
    height: 11vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
}

.logoJS {
    margin-top: -1%;
    margin-right: -1%;
    height: 5vw;
    width: 5vw;
}

.logoA {
    margin-top: -5%;
    margin-right: -5%;
    height: 8vw;
    width: 8vw;
}

.texto-cursos {
    color: white;
    font-size: 2vw;
    margin-left: 15px;
    margin-bottom: 2%;
}


.no-cursos {
    color: rgb(255, 255, 255);
    margin-left: 15px;
    font-size: 1.5vw;
    font-weight: 400;
}

.negrita{
    font-size: 1.5vw;
}

.morado {
    margin-top: 5%;
    margin-left: 15px;
    color: rgb(206, 163, 247);
    font-weight: 400;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(194, 117, 239);
    font-size: 1vw;
}

#look, #look2{
    margin-top: 20%;
    font-size: 1.5vw;
}

.simbolo {
    color: rgb(206, 163, 247);
    font-weight: 300;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(180, 111, 220);
}

#trending {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15%;
}

#tech{
    color: rgb(206, 163, 247);
    margin-left: 1%;
    font-size: 10px;
}

.texto-cursos2{
    color: white;
    font-size: 2vw;
    margin-left: 5%;
}

.topics{
    display: none;
}

/* Pantallas pequeñas */
@media screen and (max-width: 767px) {

    #prod,
    #courses,
    #boton-nav,
    #resources,
    #sign,
    #try {
        display: none;
    }

    header {
        height: 11vh;
        width: 100vw;
    }

    .menu{
        display: inline;
        width: 100%;
        height: 100%;
        font-size: larger;
        color: white;
        background-color: black;
        border-style: none;
    }

    .logo_gato{
        vertical-align: middle;
        width: 5vw;
        height: 5vw;
    }

    #plural{
        padding-left: 3vw;
        text-align: center;
    }


/* cuador principal--------------------- */
    main {
        height: 70vh;
        width: 100vw;
    }

    .cuadro-fondo {
        background-image: url(gato.png);
        background-position: left;
        background-position-x: 140px;
        background-position-y: 100px;
        background-size: 300%;
        background-repeat: no-repeat;
        position: relative;
        width: 100vw;
        height: 100%;
    }

    .transparente {
        background: linear-gradient(65deg, rgba(78, 0, 63, 0.5) 0%, rgba(69, 21, 103, 0.5) 48%, rgba(81, 0, 64, 0.3) 100%);
    }


    .titulo{
        font-size: 40px;
    }

    .texto-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75%;
        height: 85%;
        font-size: 19px;
        margin-left: -10%;
    }

    .planes {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    #plan1, #plan2{
        width: 90%;
        height: 50%;
        font-size: 90%;
        font-family: Arial, Helvetica, sans-serif;
    }

    #plan2 {
        margin-left: 0px;
        margin-top: 1vh;
    }



    /* Lenguajes ---------------------------------------*/
    #contenido {
        height: 19vh;
        width: 100vw;
    }

    .lenguaje {
        margin: 10px;
        background: rgb(84, 84, 84);
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
    }

    .texto-cursos {
        color: white;
        font-size: 12px;
        margin-left: 1vw;
    }

    .texto-cursos2{
        color: white;
        font-size: 10px;
        margin-left: 1vw;
    }

    #trending {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 30vw;
        font-size: 1px;
    }

    .no-cursos {
        font-family: Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        margin-left: 1vw;
        font-size: 3.5vw;
    }

    .morado {
        margin-left: 1vw;
        color: rgb(206, 163, 247);
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: rgb(83, 6, 147);
        font-size: 3.5vw;
    }

    .simbolo {
        display: none;
    }

    .lenguaje, #trending{
        display: none;
    }
}

/* Pantallas medianas */
@media screen and (min-width: 767px) and (max-width: 1023px) {

    #prod,
    #courses,
    #boton-nav,
    #resources,
    #sign,
    #try {
        display: none;
    }

    header {
        height: 10vh;
        width: 100vw;
    }

    .lupa{
        width: 10%;
        height: 10%;
        padding-left: 250px;
    }

    .menu{
        margin-top: -9px;
        display: inline;
        width: 150%;
        height: 150%;
        font-size: 40px;
        color: white;
        background-color: black;
        border-style: none;
    }
    .logo_gato{
        vertical-align: middle;
        width: 7vw;
        height: 7vw;
    }

    #plural{
        padding-left: 3vw;
        text-align: center;
    }

    main {
        height: 60vh;
        width: 100vw;
    }

    .cuadro-fondo {
        background-position-x: -250px;
        background-position-y: 60px;
        background-size: 200%;
    }

    .transparente {
        background: linear-gradient(65deg, rgba(78, 0, 63, 0.5) 0%, rgba(69, 21, 103, 0.5) 48%, rgba(81, 0, 64, 0.3) 100%);
    }

    .texto-principal {
        width: 70%;
        height: 100%;
        font-size: 20px;
        margin-left: 120px;
    }


    /* Lenguajes ---------------------------------------*/
    #contenido {
        height:30vh;
        width: 100vw;
    }

    .lenguaje, #trending{
        display: none;
    }

    .simbolo {
        display: none;
    }

    .topics{
        display: block;
        width: 90%;
        height: 80%;
    }

    .texto-cursos{
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 200%;
        color: white;
    }    

    .que-aprender{
        color: white;
        margin-left: 2%;
        font-weight: 300;
    }
}