* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100vw;
    height: 55vh;
    background-color: aquamarine;
}

#virus {
    width: 100vw;
    height: 3vh;
    font-size: 60%;
    text-align: center;
    text-decoration: underline;
    background-color: rgb(222, 213, 250);
}

#login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    height: 5vh;
}

#logo {
    width: 25px;
    height: 25px;
}


.lista-nav1,
.lista-nav2 {
    display: flex;
    flex-direction: row;
    gap: 5%;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.lista-nav1 {
    color: rgb(89, 0, 214);
    font-family: sans-serif, Helvetica;
    font-size: larger;
}

.lista-nav2 {
    background-color: rgb(210, 210, 210, 0.6);
    width: 30vw;
    height: 100%;
    border-bottom-left-radius: 20px;
}

.lista-sesion {
    display: flex;
    flex-direction: row;
}

#icon-sesion1,
#icon-sesion2,
#icon-sesion3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sesion {
    font-size: 1vw;
}

.barra-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 1%;
    background-color: white;
    height: 12vh;
}

i {
    width: 4vw;
    height: 4vw;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reservaciones {
    width: 100vw;
    height: 35vh;
    background-color: rgb(222, 213, 250);
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservaciones {
    background-color: rgb(63, 7, 141);
    width: 85%;
    height: 80%;
    border-radius: 8px;
    color: white;
}


/* Principal-------------------------------------------- */
main {
    width: 100vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(194, 193, 193, 0.767);
}

#lugar-salida {
    align-content: center;
    width: 90vw;
    height: 7vh;
    font-size: 2vh;
}


/* footer------------------------------------------------------------- */
.sugerencias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 35vh;
    gap: 2%;
}

.viajes {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;

}

.imagen-sugerencia {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 200%;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#sugerencias1 {
    background-image: url(paisaje.jpg);
    background-size: 35vw;
    background-position-y: 90%;
}

#sugerencias2 {
    background-image: url(atardecer.jpg);
    background-size: 35vw;
    background-position-y: 60%;
}

#sugerencias3 {
    background-image: url(montaña.jpg);
    background-size: 30vw;
    background-position-y: 30%;
}

#sugerencias4 {
    background-image: url(risco.jpg);
    background-size: 30vw;
}

.vuela-a {
    width: 100%;
    height: 50%;
}