* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100vw;
    height: 65vh;
}

#virus {
    width: 100vw;
    height: 3vh;
    font-size: 60%;
    text-align: center;
    text-decoration: underline;
    background-color: rgb(222, 213, 250);
}

#login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    height: 5vh;
}

#logo {
    width: 25px;
    height: 25px;
}


.lista-nav1,
.lista-nav2 {
    display: flex;
    flex-direction: row;
    gap: 5%;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.lista-nav1 {
    color: rgb(89, 0, 214);
    font-family: sans-serif, Helvetica;
    font-size: larger;
}

.lista-nav2 {
    background-color: rgb(210, 210, 210, 0.6);
    width: 30vw;
    height: 100%;
    border-bottom-left-radius: 20px;
}

.lista-sesion {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5%;
}

#ayuda{
    margin-left: -6%;
}

#icon-sesion1,
#icon-sesion2,
#icon-sesion3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sesion {
    font-size: 1vw;
}

.barra-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 1%;
    background-color: white;
    height: 12vh;
    width: 1vw;
    gap: 50%;
}

i {
    width: 2vw;
    height: 2vw;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.li-nav{
    width: 1000%;
    height: 100%;
    font-size: 1.5vw;
}

#reservaciones {
    width: 100vw;
    height: 45vh;
    background-color: rgb(222, 213, 250);
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservaciones {
    background-color: rgb(63, 7, 141);
    width: 85%;
    height: 80%;
    border-radius: 8px;
    color: white;
}


/* Principal-------------------------------------------- */
.margen{
    margin: 10px;
}

main {
    width: 100vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(194, 193, 193, 0.767);
    gap: 10px;
}

.titulo-vuelos{
    font-size: 2vw;
}

#lugar-salida {
    align-content: center;
    width: 90vw;
    height: 7vh;
    font-size: 2vh;
}

.plan-vuelos{
    width: 100%;   
    gap: 10%; 
}

.destinos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.datos{
    width: 17vw;
    height: 100%;
}

.titulo-formulario{
    font-size: 1vw;
    color: white;
    margin-bottom: 2%;
}

.inputs{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width:95%;
    height: 3vw;
    border-radius: 6px;
}

.input{
    width: 60%;
    border-style: none;
}

input{
    font-size: 1vw;
}

.fechas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#fechas{
    gap: 2%;
}

i{
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-buscar{
    width: 15%;
    height: 5vw;
    background-color: transparent;
    border-style: none;
}

.formulario-buscar p{
    background-color: orange;
    border-radius: 24px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    color: white;
}

#lupa{
    color: white;
}

.texto{
    margin-top: 0.5%;
    margin-bottom: 1%;
    font-size: 1vw;
    vertical-align: middle;
}

input{
    vertical-align: middle;
}

/* footer------------------------------------------------------------- */
.sugerencias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 35vh;
    gap: 2%;
}

.viajes {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;

}

.imagen-sugerencia {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 200%;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#sugerencias1 {
    background-image: url(paisaje.jpg);
    background-size: 35vw;
    background-position-y: 90%;
}

#sugerencias2 {
    background-image: url(atardecer.jpg);
    background-size: 35vw;
    background-position-y: 60%;
}

#sugerencias3 {
    background-image: url(montaña.jpg);
    background-size: 30vw;
    background-position-y: 30%;
}

#sugerencias4 {
    background-image: url(risco.jpg);
    background-size: 30vw;
}

.vuela-a {
    width: 100%;
    height: 50%;
}